// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/css/core.light.css';

// Override variables here

//@import '~nativescript-theme-core/scss/index';
@import './assets/css/custom.css';  

.fa {
    font-family: FontAwesome;
}

.navItem{
	width:24%;
	text-align: center;
}

.cardStyle {
    background-color: rgb(223, 217, 217);
    color: rgb(43, 43, 43);
    margin: 15 15 0;
}

.cardContent {
    padding: 20;
    font-weight: bold;
    font-size: 16;
}
// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
